<!DOCTYPE html>
    <head>
        <title>Calculator page</title>
        <style>
            h1,form{
                background-color:rgb(249, 141, 209) ;
                color: #fff; 
                font-size: 44px;
                padding: 30px 50px; 
                text-align: center;
            }
            input{
                padding:10px; 
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <h1 style="">Calculator</h1>
        <form action="results/" method="get">
            <input type="text" name="num1" placeholder="number 1">
            <input type="text" name="num2" placeholder="number 2">
            <input type="submit" style="background-color: rgb(42, 245, 177);">
        </form>
    </body>
</html>